.background-fallback {
  background: hsla(311, 100%, 39%, 1);

background: linear-gradient(315deg, hsla(311, 100%, 39%, 1) 0%, hsla(188, 100%, 63%, 1) 100%);

background: -moz-linear-gradient(315deg, hsla(311, 100%, 39%, 1) 0%, hsla(188, 100%, 63%, 1) 100%);

background: -webkit-linear-gradient(315deg, hsla(311, 100%, 39%, 1) 0%, hsla(188, 100%, 63%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C700A3", endColorstr="#40E5FF", GradientType=1 );
}