.background-fallback {
  background: linear-gradient(229deg, #c700a2, #42e6ff);
  background-size: 400% 400%;

  -webkit-animation: animatedBg 8s ease infinite;
  -moz-animation: animatedBg 8s ease infinite;
  -o-animation: animatedBg 8s ease infinite;
  animation: animatedBg 8s ease infinite;
}

@-webkit-keyframes animatedBg {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes animatedBg {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-o-keyframes animatedBg {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes animatedBg {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}